# Dependencies
**/node_modules/
.pnp
.pnp.js

# Testing
/coverage
.nyc_output

# Production / Build
**/dist/
**/dist-ssr/
*.local

# Environment Variables (Secrets)
.env
.env.local
.env.*.local
.env.production
.env.production.local
.env.development.local
.env.test.local

# Supabase
supabase/.temp/
.supabase/
supabase/functions/.env.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.pem
.eslintcache
.firebase/
.vercel
